Repository noranda/ffxi-complete: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript, markdownlint, eslint-rules-validation, eslint-rules-test

prettier:
  name: Prettier
  entry: yarn prettier --write
  language: system
  pass_filenames: true

eslint:
  name: ESLint (auto-fix)
  entry: yarn lint --fix
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: yarn type-check
  language: system
  pass_filenames: false

markdownlint:
  name: Markdown Lint
  entry: yarn lint:md
  language: system
  pass_filenames: false

eslint-rules-validation:
  name: ESLint Rules Validation
  entry: yarn validate:rules:structure
  language: system
  pass_filenames: false

eslint-rules-test:
  name: ESLint Rules Test
  entry: yarn test:rules
  language: system
  pass_filenames: false

fix(ci): add yarn.lock and remove from .gitignore to fix dependency resolution
  .gitignore
  yarn.lock
Due: none

fix(ci): update Node.js test matrix to support Vite 6.x compatibility
  .github/workflows/ci.yml
Due: prettier

fix(ci): remove Node.js 18 from test matrix due to React Router DOM 7.x requirement
  .github/workflows/ci.yml
Due: prettier

fix(ci): comprehensive Supabase environment handling for CI/CD
  .github/workflows/ci.yml
  src/lib/supabase.ts
  src/test/setup.ts
Due: prettier, eslint, typescript

fix(security): remove unused xlsx packages with high-severity vulnerabilities
  package.json
  yarn.lock
Due: prettier

Path conditions:
  prettier: any of: \.(js|ts|tsx|json|yaml|yml|md)$, but not: (?x)^(
  yarn\.lock|
  package-lock\.json|
  \.cursor/temp/.*|
  coverage/.*|
  dist/.*|
  node_modules/.*
)$

  eslint: any of: \.(js|ts|tsx)$, but not: (?x)^(
  node_modules/.*|
  dist/.*|
  coverage/.*|
  \.cursor/temp/.*
)$

  typescript: any of: \.(ts|tsx)$, but not: (?x)^(
  node_modules/.*|
  dist/.*|
  coverage/.*|
  \.cursor/temp/.*
)$

  markdownlint: any of: \.(md|mdc)$, but not: (?x)^(
  node_modules/.*|
  \.cursor/temp/.*
)$

  eslint-rules-validation: any of: ^eslint-rules/
  eslint-rules-test: any of: ^eslint-rules/
